.image{
    background: url("/image/log1.jpg") no-repeat center;
    background-size: cover;
    height: 700px;
}

.siva{
   
    margin-top: 25px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

